.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.gallery-image {
  width: 100%;
  max-width: 900px;
}

.list-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 22px;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}
